<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">두려움 없이 다양한 경험에 도전하고자 합니다.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2017</h4>
                                    <h4 class="subheading">광운대학교 디지털미디어 전공, 졸업</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">디지털마케팅, PR전략 등을 수강하여 미디어 커뮤니케이션 능력을 기르고 이미지, 영상 등을 기획하고 제작, 편집할 수 있습니다. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016-2017</h4>
                                    <h4 class="subheading">Leoburnett Korea, 인턴</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">맥도날드, 화이자, 필립모리스, 네스카페 등 브랜드의 신규 캠페인 기획에 참여하여 실제 집행까지 이루어졌고 폭스바겐의 경쟁피티에 캠페인을 따냈습니다.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2019</h4>
                                    <h4 class="subheading">Blizzard & Pokémon, 프로젝트 참여</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">블리자드의 신규 게임 런칭, 확장팩 출시에 맞춰 Game Master로 참여하였습니다. 고객의 결제, 제재, 오류 해결 등을 진행했습니다.
                                        포켓몬 코리아의 연중 가장 큰 행사인 'Week in Korea'에 참여하였습니다. 사전 디지털 마케팅용 콘텐츠를 기획하고 제작하였으며 포켓몬GO 이벤트 내용을 조율했습니다. 행사 중 퍼레이드와 포켓몬GO 이벤트 운영을 담당했습니다.
                                        포켓몬GO 유저 20만명이 참가하면서 성공적으로 마무리하였습니다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019 ~ </h4>
                                    <h4 class="subheading">진학사 기획조정실, 매니저</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">기존사업 모니터링과 신규 사업 개발을 담당합니다. 신규 브랜드 런칭을 위해 전략을 수립하고 5차례 현장 설문과 온라인 설문을 진행하여 약 500명의 의견을 수집하여 발전시켰습니다. 이로 인해 해당 사업 관련 신사업본부가 출범하였습니다. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>