<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">다양함을 포용하여 새롭게 탄생시키는 사업기획자 조준호입니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Market Research</h4>
                    <p class="text-muted">국내와 해외를 가리지 않고 진출하고자 하는 시장의 규모와 경쟁자를 파악하고 신사업을 기획하거나 사업의 타당성을 검토할 수 있습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Communication</h4>
                    <p class="text-muted">사업본부 별, 자회사 간 통합 프로젝트를 제안, 관리하고 직접 조직의 일원으로 참여하여 협업할 수 있습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design Skills</h4>
                    <p class="text-muted">Adobe 디자인 툴을 활용하여 이미지 편집과 영상 촬영, 편집이 가능하고 SNS마다 지향하는 성격의 콘텐츠를 제작할 수 있습니다.</p>
                </div>
            </div>
        </div>
    </section>